@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/slick';




@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container{
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/_promo.scss';
@import 'blocks/_header.scss';
@import 'blocks/_buttons.scss';
@import 'blocks/_benefits.scss';
@import 'blocks/_forms.scss';
@import 'blocks/_courusel.scss';
@import 'blocks/_consultation.scss';
@import 'blocks/_catalog';
@import 'blocks/_titles';
@import 'blocks/_reviews';
@import 'blocks/_footer';
@import 'blocks/_modal';
@import 'blocks/_pageup';